body{
    color:#000000;
    background-color: #226622;
    margin: 5px 15%;
}

#wrapper{
    width:100%;
    height: 2500px;
    background-color: #ffffff;
}

#personal{
    float: left;
    width: 100%;
    height: 250px;
    background-color: #999999;
    margin-top: 5px;
}

#personal #info1{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #999999;
  
}
#personal #info2{
    float: left;
    width: 38%;
    height: 100%;
    background-color: #999999;
    margin:0px .3%; 
}

#personal #info3{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #999999;
 }
 
 
 #race{
    float: left;
    width: 100%;
    height: 400px;
    background-color: #999999;
    margin-top: 5px;
}

#race #race_left{
    float: left;
    width: 33%;
    height: 100%;
    background-color: #999999;
  
}

#race #race_mid{
    float: left;
    width: 33%;
    height: 100%;
    background-color: #999999;
  
}

#race #race_right{
    float: left;
    width: 33%;
    height: 100%;
    background-color: #999999;
    margin:0px .3%; 
}



#death{
    float: left;
    width: 100%;
    height: 250px;
    background-color: #999999;
    margin-top: 5px;
}

#death #death_left{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #999999;
  
}
#death #death_mid{
    float: left;
    width: 38%;
    height: 100%;
    background-color: #999999;
    margin:0px .3%; 
}

#death #death_right{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #999999;
 }
 
 
#footer{
    float: left;
    width: 100%;
    height: 80px;
    background-color: #999999;
 }