body{
    color:#000000;
    background-color: #226622;
    margin: 5px 15%;
}

#wrapper{
    width:100%;
    height: 4000px;
    background-color: #ffffff;
}

#personal{
    float: left;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    margin-top: 5px;
}

#personal #info1{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
  
}
#personal #info2{
    float: left;
    width: 38%;
    height: 100%;
    background-color:  #ffffff;
    margin:0px .3%; 
}

#personal #info3{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #race{
    float: left;
    width: 100%;
    height: 450px;
    background-color:  #ffffff;
    margin-top: 5px;
}

#race #race_left{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
  
}

#race #race_mid{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
  
}

#race #race_right{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
    margin:0px .3%; 
}



#death{
    float: left;
    width: 100%;
    height: 300px;
    background-color:  #ffffff;
    margin-top: 5px;
}

#death #death_left{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
  
}
#death #death_mid{
    float: left;
    width: 38%;
    height: 100%;
    background-color: #ffffff;
    margin:0px .3%; 
}

#death #death_right{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #causeofdeath{
    float: left;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    margin-top: 5px;
}

#causeofdeath #causeofdeath_left{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
  
}
#causeofdeath #causeofdeath_mid{
    float: left;
    width: 38%;
    height: 100%;
    background-color:  #ffffff;
    margin:0px .3%; 
}

#causeofdeath #causeofdeath_right{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #part2{
    float: left;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    margin-top: 5px;
}

#part2 #part2_left{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
  
}
#part2 #part2_mid{
    float: left;
    width: 38%;
    height: 100%;
    background-color:  #ffffff;
    margin:0px .3%; 
}

#part2 #part2_right{
    float: left;
    width: 30%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #female{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}

#female #female_left{
    float: left;
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
  
}

 #mannerofdeath{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}

#mannerofdeath  #mannerofdeath_left{
    float: left;
    width: 100%;
    height: 100%;
    background-color:  #ffffff;
  
}


#injury{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}

#injury #injury_left{
    float: left;
    width: 25%;
    height: 100%;
    background-color:  #ffffff;
  
}
#injury #injury_mid1{
    float: left;
    width: 25%;
    height: 100%;
    background-color:  #ffffff;

}

#injury #injury_mid2{
    float: left;
    width: 25%;
    height: 100%;
    background-color:  #ffffff;

}
#injury #injury_right{
    float: left;
    width: 25%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #locationofinjury{
    float: left;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}

#locationofinjury #locationofinjury_left{
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #ffffff;
  
}
#locationofinjury #locationofinjury_mid1{
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #ffffff;

}

#locationofinjury #locationofinjury_mid2{
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #ffffff;

}

#locationofinjury #locationofinjury_mid3{
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #ffffff;

}
#locationofinjury #locationofinjury_right{
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #ffffff;
 }
 
 
 #personcompleting{
    float: left;
    width: 100%;
    height: 200px;
    background-color:  #ffffff;
    margin-top: 5px;
}

#personcompleting #personcompleting_left{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
  
}

#personcompleting #personcompleting_mid{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
  
}

#personcompleting #personcompleting_right{
    float: left;
    width: 33%;
    height: 100%;
    background-color:  #ffffff;
    margin:0px .3%; 
}

 

 #footer{
    float: left;
    width: 100%;
    height: 80px;
    background-color:  #ffffff;
    margin-top: 5px;
}

#footer #footer_left{
    float: left;
    width: 50%;
    height: 100%;
    background-color:  #ffffff;
  
}


#footer #footer_right{
    float: left;
    width: 50%;
    height: 100%;
    background-color:  #ffffff;

}
